<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e789cf5-e9e1-4d30-b78f-2ecfbb9a51b8/resourceGroups/pfc-olivarez-finance_group-ab94/providers/Microsoft.Web/sites/acc-finance</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://acc-finance-bbgsgefbdhcrbkd2.japaneast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a5b8691f-d573-4eff-b9fc-0928e2027e7a</ProjectGuid>
    <PublishUrl>https://acc-finance-bbgsgefbdhcrbkd2.scm.japaneast-01.azurewebsites.net/</PublishUrl>
    <UserName>$acc-finance</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>